.login {
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2563eb;
  color: white;
}